{% extends "layout.html" %}

{% block content %}
<div class="container my-4">
    <h2 class="text-center mb-4">User Information</h2>
    <table class="table table-bordered table-striped table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th>Chapter Id</th>
                <th>Chapter Name</th>  
                <th>Subject Name</th>  
                <th>Number of questions</th>  
            </tr>
        </thead>
        <tbody>
            {% for chap in chapters %}
            <tr>
                <td>{{ chap.id }}</td>
                <td>{{ chap.name }}</td>
                <td>{{ chap.subject.name }}</td>
                <td>{{ chap.no_of_questions }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
